
*{
    box-sizing: border-box;
    margin:0,auto;
    
}
body{


    background-color: rgba(250,30,200,0.2);
  
    font-size: calc(16px + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
    margin: .5em;
    
    
}
h1,h2{
    background-color:hsla(120,100%,25%,0.3);
    font-size: 2.5em;
    font-size: calc(20px + 1.5vw);
}
h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: underline;
    text-align: center;
}
a:link{
    color:black;
}
a:hover{
    color:blue;
}
a:visited{
    text-decoration: underline;
}
.images img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
p::first-letter {
    float: left;
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    padding-right: 2px;
   

 }
 p::first-line {
    font-weight: bold;
    font-size: 1.2em;
 }
 li:nth-child(1) {
    color: red;
 }
 ul > li:last-child {
    color: green;
 }
 blockquote > p{
     text-align: center;
 }
 